* {
    box-sizing: border-box;

}

.nametag {
    width: 500px;
    height: 350px;
    border: solid black 2px;
    border-radius: 25px;
    background-color: rgb(124, 21, 21);
}

.words {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.hello {
    font-size: 70px;
}

.my-name-is {
    font-size: 25px;
}

.front {
    text-align: center;
    font-size: 5rem;
    position: relative;
    top: 70px;
    height: 140px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


