* {
    box-sizing: border-box;
}

body {
    background-color: seagreen;
}

h1 {
    text-align: center;
    color:purple;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: rebeccapurple;
}

h3 {
    color: rgb(159, 179, 73);
}

img {
    border-radius: 50px;
    opacity: 0.8;
}

p {
    color: whitesmoke;
}

.square {
    display: inline-block;
    text-align: center;
    padding: 30px;
    color: honeydew;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: rgb(15, 13, 155);
    border: dotted gold;
    border-radius: 100px;
}

.species {
    list-style: lower-greek;
    color: darkblue;
    font-size: 20px;
}